@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

    /* fallback */
    @font-face {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      src: url(https://fonts.gstatic.com/s/materialicons/v109/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
    }

    .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-smoothing: antialiased;
    }


    body {
      background-color: #282828;
    }

    h1 {
      color: white;
      text-align: center;
      font-family: 'Raleway', sans-serif;
    }

    p {
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
    }

    button {
      display: inline;
      border-radius: 20px;
      border: none;
      background-color: #444444;
      font-family: 'Raleway', sans-serif;
      color: white;
      height: 30px;
      cursor: pointer;
    }

    button:hover {
      background: #2C526D;
    }

    div.name {
      background-color: #2F2F2F;
      border-radius: 20px;
      margin-right: 80px;
      margin-left: 80px;
      height: 23pc;
    }

    div.chit {
      background-color: #FFFFFF;
      border-radius: 20px;
      height: 230px;
      margin-right: 40px;
      margin-left: 40px;
      padding-top: 60px;

    }

    h4 {
      color: white;
      font-family: 'Raleway', sans-serif;
    }


    #chitarea {
      color: black;
    }

    button.btn {
      margin-left: 20px;
    }

    button.btn:hover {
      background: #2C526D;
    }

    input {
      display: inline;
      border-radius: 20px;
      border: none;
      background-color: #444444;
      font-family: 'Raleway', sans-serif;
      color: white;
      height: 30px;
      cursor: pointer;
    }

    input:hover {
      background: #2C526D;
    }

    #x {
      color: black;
    }

    select {
      background: #444444;
      padding: 5px;
      color: white;
      width: 11.5em;
      height: 3em;
      border-radius: 15px;
      display: block;
      border: none;

    }

    select:hover {
      background: #2C526D;
    }